*{
    margin: 0;
    padding: 0;
}
#app{
    width:300px;
    margin: 2rem auto;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
form input{
    display: block;
    margin-top: 2em;  
    border-radius: 3rem;
    padding: 1.1rem 3rem;
    border-style: outset;
    border-color: white;
    box-shadow: 9px -9px black;
    font-size: 1.2rem;
    outline: none;
}
form input::placeholder{
    color: black;
    text-align: center;
    font-size: 1.3rem;
}
form input:hover{
    padding: 1.5rem 4rem;
}
#actionButton{
    display: flex;
    gap: 50px;
    align-items: center;
}
.button{
    padding: 10px 20px;
    border-radius: 2rem;
    border: 1px outset white;
    background-color: white;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.button:hover{
    border: 1px inset white;
}
.button:active{
    background-color: black;
    color: white;
}
p{
    text-align: center;
    margin-top: 20px;
}